@import '../../variables.scss';

.header {
  padding: 50px 0;
  background-image: url(../../../images/steve-johnson-_YdR0vD5Gn4-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 30px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
}