@import '../../../variables.scss';

.gallery__card-list {
  width: 100%;
  list-style-type: none;
  margin: 50px 0 20px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  gap: 20px;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .gallery__card-list {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}

@media screen and (max-width: 900px) {
  .gallery__card-list {
    grid-template-columns: repeat(auto-fit, 320px);
  }
}

@media screen and (max-width: 524px) {
  .gallery__card-list {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}